<h1>Editing Zombie</h1>

<%= render 'form' %>

<div class="btns-container">
  <%= link_to 'Show', @zombie, class: "btn btn-default" %>
  <%= link_to 'Back', zombies_path, class: "btn btn-default" %>
</div>
